<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>
	
		<div class="w3-bar w3-black">
			<a href="/" class="w3-bar-item w3-button w3-black w3-hover-red" >Home</a> 
			<span class="w3-right">
			<a href="/search/query" class="w3-bar-item w3-button w3-light-black">Search you like</a> 
			<a href="/search/add" class="w3-bar-item w3-button w3-light-black">Add A New Car</a>  
			<a href="/search" class="w3-bar-item w3-button w3-light-black">Edit and update</a>
			</span>
		</div>
        <div class="w3-container w3-container w3-padding-16 w3-margin">		
		    <h1 class="w3-middle"><%= title %></h1>
		</div>	
		
		<div class="w3-container w3-container w3-padding-16 w3-margin">
			<table class="w3-table-all w3-hoverable">

				<tr style="background-color:grey">
					<th>make</th>
					<th>type</th>
					<th>colour</th>
				</tr>
				
				<% if (data) { %>
				<% data.forEach(function(user){ %>
					<tr>
						<td><%= user.make %></td>
						<td><%= user.type %></td>
						<td><%= user.colour %></td>
						
					</tr>
				<% }) %>
				<% } %>

			</table>
		</div>
			
	</body>
</html>	

